.news{
    padding-top: 2rem;
    padding: 10px;

    overflow-y: scroll;
    position: relative;
    height: calc(100% - (2rem + 3px));
}
.postNewsContainer {
    /* text-align: center; */
    border: 1px solid rgb(135, 135, 135);
    padding: 5px;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.creatorInfo{
   
    line-height: 3rem;
    padding: 5px;
    border-bottom: 1px solid grey;
   
}
.avatarWrapper{

    display: inline;
}
.creatorInfo h1 {
    display: inline;
    
    vertical-align: middle;
    margin-left: 1rem;
    color: black;
    font-weight: 300;
}
.postIMGContainer{
    /* width: 100%; */
  
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.postIMG {
    object-fit: cover;
    max-width: 800px;
    max-height: 800px;
    width: 100%;
    height: auto;
}

